@-moz-document domain("codeforces.com") {
	select,
	button,
	input {
		color: var(--fg);
		border-radius: 6px;
	}

	select,
	button {
		background: var(--black);
		border: var(--black) solid;
	}

	input {
		background: var(--tableGreyRow);
		border: var(--tableGreyRow) solid;
	}

	input[type=number] {
		-moz-appearance: textfield;
	}
}
