@-moz-document domain("youtube.com") {
.ytp-play-progress,
#progress.ytd-thumbnail-overlay-resume-playback-renderer {
	background: #f03 !important;
}

#contents.ytd-rich-grid-renderer {
	--ytd-rich-grid-items-per-row: 4;
}
ytd-video-renderer.style-scope.ytd-item-section-renderer:has(#dismissed div) {
	display: none !important;
}
}

