@-moz-document domain("youtube.com") {
:root[dark] [fill="red"],
:root[dark] [fill="#F00"],
:root[dark] [fill="#FF0000"],
:root[dark] [fill="#f03"],
:root[dark] [fill="#FF0033"] {
    fill: #ed8796 !important;
}

.ytp-play-progress,
.ytp-swatch-background-color,
.ytThumbnailOverlayProgressBarHostWatchedProgressBarSegment,
#progress.ytd-thumbnail-overlay-resume-playback-renderer {
    background: #ed8796 !important;
}

div.ytSuggestionComponentSuggestion {
  height: 32px !important;
  margin: 0 !important;
  border-radius: 0 !important;
}
.ytSearchboxComponentSuggestionsContainer {
  padding: 0 !important;
}

#contents.ytd-rich-grid-renderer {
	--ytd-rich-grid-items-per-row: 4;
}
ytd-video-renderer.style-scope.ytd-item-section-renderer:has(#dismissed div) {
	display: none !important;
}
}

