:lang(ja),
:lang(ja-JP),
:root {
  --i18n-fallbacks: "Noto Sans JP";
  --owo: var(--i18n-fallbacks, "owo");
  --font-primary: "Noto Sans", var(--owo);
  --font-code: "FiraCode Nerd Font Mono", "Fira Code", var(--owo), monospace;
  --font-display: var(--font-code);
}

code,
.markup-eYLPri code.inline,
.inlineCode-ERyvy_ {
  font-weight: 475;
}

.theme-dark {
  /* colours */
  --brand-experiment: #7aa2f7;
  --brand-experiment-600: #7aa2f7;
  --brand-experiment-560: #7aa2f7;
  --brand-experiment-360: #7aa2f7;
  --primary-660: var(--background-tertiary);
  --red-430: #f7768e;
  /* backgrounds */
  --background-primary: #24283b;
  --background-secondary: #1d202f;
  --background-secondary-alt: #1a1b26;
  --background-tertiary: #1a1b26;
  --background-accent: #414868;
  --background-floating: #1a1b26;
  --chat-background: var(--background-primary);
  --chat-border: var(--background-tertiary);
  --chat-input-container-background: var(--background-primary);
  --input-background: var(--background-tertiary);
  --background-message-hover: rgba(0, 0, 0, 0.1);
  --channeltextarea-background: #ffffff10;
  --modal-background: var(--background-secondary-alt);
  --modal-footer-background: var(--background-secondary);
  --bg-overlay-chat: var(--background-primary);
  --bg-overlay-2: var(--background-primary);
  /* text */
  --text-normal: #c0caf5;
  --text-muted: #414868;
  --text-link: #7dcfff;
  --header-secondary: var(--text-normal);
  --interactive-normal: var(--text-normal);
  /* mentions */
  --info-warning-foreground: #f7768e;
  --background-mentioned: rgba(247, 118, 142, 0.2);
  --background-mentioned-hover: rgba(247, 118, 142, 0.1);
  --status-danger: #f7768e;
  --modal-primary: var(--background-primary);
  --mention-foreground: #1d202f;
  --mention-background: #7aa2f7;
  --scrollbar-thin-thumb: #7aa2f7;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #7aa2f7;
  --scrollbar-auto-track: var(--background-secondary);
  --scrollbar-auto-scrollbar-color-thumb: var(--background-tertiary);
  --scrollbar-auto-scrollbar-color-track: var(--background-secondary);
  /* channel selector */
  --background-modifier-hover: #24283b;
  --background-modifier-selected: #24283b;
  --bg-overlay-active: #24283b;
  --interactive-muted: var(--text-muted);
  --channels-default: var(--text-normal);
  --channel-icon: var(--text-normal);
  /* miscellaneous */
  --profile-body-background-color: transparent;
  --button-secondary-background: #414868;
  --button-danger-background: #f7768e;
  --button-danger-background-hover: #f7768e;
}

/*** extra colouring ***/
/* members list */
.member-48YF_l,
.members-3WRCEx {
  background-color: var(--background-secondary);
}

/* jump to present bar */
.jumpToPresentBar-1cEnH0 {
  background-color: #7aa2f7;
}

/* slash menu */
.theme-dark .autocomplete-3NRXG8,
.categoryHeader-OpJ1Ly {
  background-color: var(--background-secondary);
}

/* selections */
*::selection {
  background-color: #373d5a;
}

/* loading screen */
.container-2RRFHK {
  background-color: var(--background-primary);
}

.caret-1TZU-U {
  color: var(--text-normal);
}

/* code highlighting */
.hljs-variable {
  color: #f7768e !important;
}

.hljs-keyword,
.hljs-meta,
.hljs-symbol,
.hljs-attr {
  color: #bb9af7 !important;
}

.hljs-title,
.hljs-built_in,
.hljs-number,
.hljs-literal,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-title {
  color: #e0af68 !important;
}

.hljs-string,
.hljs-attribute,
.hljs-selector-tag,
.hljs-selector-class {
  color: #9ece6a !important;
}

.hljs-comment {
  color: #414868 !important;
}

.card-2guEcY {
  background-color: var(--background-secondary);
}

/*** miscellaneous ***/
.userPopoutOverlayBackground-dKOOda {
  margin: 8px 16px 16px;
}

/* search bar */
.focused-1xh-wG .searchBar-jGtisZ,
.open-1F8u2c .searchBar-jGtisZ {
  width: 14rem !important;
  background-color: var(--background-tertiary);
}

.searchBar-jGtisZ {
  width: 24px;
  background-color: transparent;
  transition: ease-in-out 0.2s;
}

.searchBar-jGtisZ .icon-tZMHgY div svg {
  position: absolute;
  cursor: pointer;
  color: var(--interactive-normal);
  width: 24px;
  height: 24px;
  transform: translate(-4px, -4px);
}

.focused-1xh-wG .searchBar-jGtisZ .icon-tZMHgY div svg,
.icon-18rqoe {
  width: 100%;
  height: 100%;
  transform: none;
  transition: none;
}

/* search items */
.option-ayUoaq:after,
.option-ayUoaq:hover:after {
  background: linear-gradient(to right, rgba(11, 12, 19, 0), var(--background-floating), var(--background-floating)) !important;
}

/* login screen */
.theme-dark.authBox-1HR6Ha {
  background: var(--background-primary);
}
