@use "sass:color";

$red: #f7768e;
$blue: #7aa2f7;
$cyan: #7dcfff;
$green: #9ece6a;
$magenta: #bb9af7;
$yellow: #e0af68;
$light-grey: #414868;
$black: #1d202f;
$fg: #c0caf5;
$bg-storm: #24283b;
$bg-night: #1a1b26;
$bg-selection: #373d5a;

:lang(ja),
:lang(ja-JP),
:root {
	--i18n-fallbacks: "Klee One SemiBold", "Noto Sans JP";
	--owo: var(--i18n-fallbacks, "owo");
	--font-primary: "Noto Sans", var(--owo);
	--font-code: "FiraCode Nerd Font Mono", "Fira Code", var(--owo), monospace;
	--font-display: var(--font-code);
}

code,
.markup-eYLPri code.inline,
.inlineCode-ERyvy_ {
	font-weight: 475;
}

.theme-dark {
	/* colours */
	--brand-experiment: #{$blue} !important;
	--brand-experiment-600: #{$blue} !important;
	--brand-experiment-560: #{$blue} !important;
	--brand-experiment-360: #{$blue} !important;
	--primary-660: var(--background-tertiary) !important;
	--primary-630: var(--background-secondary) !important;
	--red-430: #{$red} !important;

	/* backgrounds */
	--background-primary: #{$bg-storm} !important;
	--background-secondary: #{$black} !important;
	--background-secondary-alt: #{$bg-night} !important;
	--background-tertiary: #{$bg-night} !important;
	--background-accent: #{$light-grey} !important;
	--background-floating: #{$bg-night} !important;
	--chat-background: var(--background-primary) !important;
	--chat-border: var(--background-tertiary) !important;
	--chat-input-container-background: var(--background-primary) !important;
	--input-background: var(--background-tertiary) !important;
	--background-message-hover: rgba(0, 0, 0, 0.1) !important;
	--channeltextarea-background: #ffffff10 !important;
	--modal-background: var(--background-secondary-alt) !important;
	--modal-footer-background: var(--background-secondary) !important;
	--bg-overlay-chat: var(--background-primary) !important;
	--bg-overlay-2: var(--background-primary) !important;

	/* text */
	--text-normal: #{$fg} !important;
	--text-muted: #{$light-grey} !important;
	--text-link: #{$cyan} !important;
	--header-secondary: var(--text-normal) !important; // replies colour
	--interactive-normal: var(--text-normal) !important;

	/* mentions */
	--info-warning-foreground: #{$red} !important;
	--background-mentioned: #{color.adjust($red, $alpha: -0.8)} !important;
	--background-mentioned-hover: #{color.adjust($red, $alpha: -0.9)} !important;
	--status-danger: #{$red} !important;
	--modal-primary: var(--background-primary) !important;
	--mention-foreground: #{$black} !important;
	--mention-background: #{$blue} !important;

	--scrollbar-thin-thumb: #{$blue} !important;
	--scrollbar-thin-track: transparent !important;
	--scrollbar-auto-thumb: #{$blue} !important;
	--scrollbar-auto-track: var(--background-secondary) !important;
	--scrollbar-auto-scrollbar-color-thumb: var(--background-tertiary) !important;
	--scrollbar-auto-scrollbar-color-track: var(--background-secondary) !important;

	/* channel selector */
	--background-modifier-hover: #{$bg-storm} !important;
	--background-modifier-selected: #{$bg-storm} !important;
	--bg-overlay-active: #{$bg-storm} !important;
	--bg-overlay-chat: #{$bg-storm} !important;
	--interactive-muted: var(--text-muted) !important;
	--channels-default: var(--text-normal) !important;
	--channel-icon: var(--text-normal) !important;

	/* miscellaneous */
	--profile-body-background-color: transparent !important;
	--button-secondary-background: #{$light-grey} !important;
	--button-danger-background: #{$red} !important;
	--button-danger-background-hover: #{$red} !important;
}

/*** extra colouring ***/
/* members list */
.memberInner_a32223,
.members__9f47b,
.member_b44d5d,
.member_aa4760 {
	background-color: var(--background-secondary) !important;
}

.offline_c1fd80 {
	opacity: 1 !important;
}

.offline_c1fd80>div {
	opacity: 0.3 !important;
}

/* jump to present bar */
.jumpToPresentBar__0ff7f {
	background-color: $blue !important;
}

/* slash menu */
.theme-dark .autocomplete-3NRXG8,
.categoryHeader-OpJ1Ly {
	background-color: var(--background-secondary);
}

/* selections */
*::selection {
	background-color: $bg-selection;
}

/* loading screen */
.container-2RRFHK {
	background-color: var(--background-primary);
}

.caret-1TZU-U {
	color: var(--text-normal);
}

/* code highlighting */
.hljs-variable {
	color: $red !important;
}

.hljs-keyword,
.hljs-meta,
.hljs-symbol,
.hljs-attr {
	color: $magenta !important;
}

.hljs-title,
.hljs-built_in,
.hljs-number,
.hljs-literal,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-title {
	color: $yellow !important;
}

.hljs-string,
.hljs-attribute,
.hljs-selector-tag,
.hljs-selector-class {
	color: $green !important;
}

.hljs-comment {
	color: $light-grey !important;
}

.card-2guEcY {
	background-color: var(--background-secondary);
}

/*** miscellaneous ***/
.userPopoutOverlayBackground-dKOOda {
	margin: 8px 16px 16px;
}

/* search bar */
.focused-1xh-wG .searchBar-jGtisZ,
.open-1F8u2c .searchBar-jGtisZ {
	width: 14rem !important;
	background-color: var(--background-tertiary);
}

.searchBar-jGtisZ {
	width: 24px;
	background-color: transparent;
	transition: ease-in-out 0.2s;
}

.searchBar-jGtisZ .icon-tZMHgY div svg {
	position: absolute;
	cursor: pointer;
	color: var(--interactive-normal);
	width: 24px;
	height: 24px;
	transform: translate(-4px, -4px);
}

.focused-1xh-wG .searchBar-jGtisZ .icon-tZMHgY div svg,
.icon-18rqoe {
	width: 100%;
	height: 100%;
	transform: none;
	transition: none;
}

/* search items */
.option_b5597b:after,
.option_b5597b:hover:after {
	background: linear-gradient(to right, color.adjust($bg-storm, $hue: 5, $saturation: -0.1%, $lightness: -12.7%, $alpha: -1), var(--background-floating), var(--background-floating)) !important;
}

/* login screen */
.theme-dark.authBox-1HR6Ha {
	background: var(--background-primary);
}