@import url("https://catppuccin.github.io/discord/dist/catppuccin-macchiato-blue.theme.css");

:lang(ja),
:lang(ja-JP),
:root {
  --i18n-fallbacks: "Fusion Kai J", "Noto Sans JP";
  --owo: var(--i18n-fallbacks, "owo");
  --font-primary: "Noto Sans", var(--owo);
  --font-code: "FiraCode Nerd Font Mono", "Fira Code", var(--owo), monospace;
  --font-display: var(--font-code);
}

code,
.markup-eYLPri code.inline,
.inlineCode-ERyvy_ {
  font-weight: 475;
}

/* login screen */
.theme-dark.authBox-1HR6Ha {
  background: var(--background-primary);
}

/* friend activities */
display: none
.children__9293f:after {
  display: none !important;
}
