[Desktop Entry]
Version = 1.0
Name = Mindustry foo's client
Icon = mindustry
TryExec = java
Exec = java -jar /home/imsuck/Applications/mindustry-foo/desktop.jar
Type = Application
Terminal = false
