// Auto test cpp code. Useful in competitive programming (for me atleast).
layout {
	default_tab_template {
		pane size=1 borderless=true {
			plugin location="zjstatus"
		}
		children
	}
	tab focus=true {
		pane split_direction="vertical" {
			pane focus=true size="75%" command="$EDITOR" {
				args "."
			}
			pane split_direction="horizontal" {
				pane command="$EDITOR" {
					args "a.inp"
				}
				pane command="bash" {
					args "-c" "~/.config/zellij/scripts/auto_test_cpp.sh"
				}
			}
		}
	}
	tab
}
