layout {
    tab {
        pane split_direction="vertical" {
            pane focus=true command="helix" size="65%" {
                args "."
            }
            pane split_direction="horizontal" {
                pane
                pane command="bacon" {
                    args "clippy"
                }
            }
        }
    }
}
