layout {
	default_tab_template {
		pane size=1 borderless=true {
			plugin location="zjstatus"
		}
		children
	}
	cwd "stress_testing"
	tab focus=true {
		pane split_direction="vertical" {
			pane focus=true size="75%" command="$EDITOR" {
				args "a.cpp" "safe.cpp" "tester.cpp"
			}
			pane split_direction="horizontal" {
				pane command="$EDITOR" {
					args "a.inp"
				}
				pane command="$EDITOR" {
					args "a.output" "a.ans"
				}
			}
		}
	}
	tab
}
