layout {
	cwd "stress_testing"
	tab focus=true {
		pane split_direction="vertical" {
			pane focus=true size="75%" command="helix" {
				args "a.cpp" "safe.cpp" "tester.cpp"
			}
			pane split_direction="horizontal" {
				pane command="helix" {
					args "a.inp"
				}
				pane command="helix" {
					args "a.output" "a.ans"
				}
			}
		}
	}
	tab
}
