[Desktop Entry]
Type = Application
Exec = xfce4-terminal --title Pomodoro --geometry 33x4 -x /home/imsuck/scripts/pomodoro.sh
Terminal = false
Name = Pomodoro
