[Desktop Entry]
Type = Application
Exec = xfce4-terminal --title Pomodoro --geometry 33x4 -x /home/imsuck/.cargo/bin/porsmo
Terminal = false
Name = Pomodoro
