/** Import Lepton stylesheet (Chrome) *****************************************/
@import url("css/leptonChrome.css");


/** Add your custom styles below **********************************************/

#navigator-toolbox {
	font-family: sans-serif, "Fusion Kai J", "Twemoji Mozilla", "Noto Color Emoji", "Noto Emoji";
  animation: none !important;
  transition: none !important;
}

#nav-bar {
  padding: 4px 0 0 !important;
}

.openintabs-menuseparator,
.openintabs-menuitem,
.bookmarks-actions-menuseparator {
  display: none !important;
}

/* Enable option to edit bookmark URLs under Add Bookmark (blue star) menu */
/*
.editBMPanel_locationRow {
  display: initial !important;
}
*/

/* Disable Email Image/Audio/Video and Set as Desktop Background context menu items */
/*
#context-sendimage,
#context-sendvideo,
#context-sendaudio,
#context-sep-setbackground,
#context-setDesktopBackground {
  display: none !important;
}
*/
